/* fonts */
@font-face {
    font-family:"Museo Sans";
    src:url("fonts/MuseoSans_500.otf") format("opentype");
}
@font-face {
    font-family:"Caudex";
    src:url("fonts/Caudex-Bold.ttf") format("truetype");
}
@font-face{
    font-family:"Aqua";
    src:url("fonts/aqua.ttf") format("truetype");
}

/* tag formatting */

body {
    margin:0px;
}

h1 {
    font-family: "Caudex";
    font-size:64px;
    text-align: "center";
}

h2 {
    font-family: "Museo Sans";
    font-size: 300px;
}

/* class attributes */

.landing {
    height:80%;
}

.subheader-item {
    font-family: "Aqua";
    color:#2E2E2E;
    font-size: 24px;

}
/*
.modal-pcontent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
*/
/* ID attributes */

#name-header {
    height:850px;
    background: #2E2E2E;
    font-family: "Aqua";
    font-size: 64px;
    text-align: center; 
    color:#EFEFEF;
    display:flex;
    justify-content:center;
    align-items: center;
}

#projects-modal {
    display:none;
    z-index: 1;
    position: fixed;
    padding-top:100px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
}

#projects-button{

}

#subheader-container {
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    height:82px;
    align-items: center;
    background: linear-gradient(0deg, #2E2E2E, white);
}

/* animations */

@keyframes fadeDown {
    from {
        opacity:0;
        transform:translate3d(0,-100%,0);      
    }
    to {
        opacity:1;
        transform:none;
    }
}
.fadeDown {
    animation-name:fadeDown;
    animation-duration:1s;
}

@keyframes shrinkName {
    from {
        font-size: 64px;
        color:#EFEFEF;
        justify-content:center;
        align-items: center;
    }
    to {
        font-size: 24px;
        align-items: top;

    }
}

.shrinkName {
    animation-name:shrinkName;
    animation-duration:1.5s;
}